<div class="bg-glow-left"></div>
<div class="bg-glow-right"></div>

<div class="landing-nav-wrapper">
    <%= erb :'components/navbar' %>
</div>

<header class="hero">
    <div class="hero-banner">
        <img src="/images/image.png" alt="Hero Banner">
    </div>
    
    <div class="container">
        <div class="hero-content">
            <h1>Şehrini yapay zeka ile iyileştir</h1>
            <p>Vatandaş Odaklı Hızlı Çözüm Platformu</p>
            <a href="/create_forum" class="btn btn-primary">Hemen Sorun Bildir</a>
        </div>
    </div>
</header>

<section class="features">
    <div class="card">
        <div class="icon-box">
            <i class="fa-regular fa-image"></i>
        </div>
        <h3>Fotoğraflı Bildirim</h3>
        <p>Sorunun fotoğrafını çekin ve forum oluşturun.</p>
    </div>

    <div class="card">
        <div class="icon-box">
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <h3>Akıllı Etiketleme</h3>
        <p>Yapay zeka sizin yerinize etiket ve sorunun büyüklüğünü filtreler</p>
    </div>

   
</section>

