<div class="bg-glow-left"></div>
<div class="bg-glow-right"></div>

<div id="nav">
    <%= erb :'components/navbar' %>
</div>

<div class="flex items-center justify-center min-h-[calc(100vh-80px)] py-10">
    <%= erb :'components/login_register_modal' %>
</div>